{% extends 'reservations/base.html' %}
{% block title %}Booking Detail{% endblock %}
{% block content %}
<h1>Booking Detail</h1>
<hr>
<div class="card p-3 mb-3">
  <strong>Name:</strong> {{ booking.name }}<br>
  <strong>Email:</strong> {{ booking.email }}<br>
  <strong>Phone:</strong> {{ booking.phone }}<br>
  <strong>Date/Time:</strong> {{ booking.reservation_date|date:"Y-m-d H:i" }}<br>
  <strong>Guests:</strong> {{ booking.number_of_guests }}<br>
  <strong>Special Requests:</strong> {{ booking.special_requests }}
</div>
<a href="{% url 'booking_update' booking.pk %}" class="btn btn-warning">Edit</a>
<a href="{% url 'booking_delete' booking.pk %}" class="btn btn-danger">Delete</a>
<a href="{% url 'booking_list' %}" class="btn btn-secondary">My Bookings</a>
{% endblock %}
